.tutorfpage {
  .tutor-features {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: aliceblue;
    padding: 10px 0;
    margin-left:30px;

    .container {
      display: flex;
      justify-content: space-between; 
      width: 100%;
      margin-top: -5px;
    }

    h1 {
      color: #000728;
    }

    p {
      color: #000728;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .title {
      color: #000728;
      font-weight: bold;
      font-size: 20px;
    }

    .description {
      flex: 1; 
      padding-right: 20px;
    }

    .image {
      flex: 1; 
    }

    img {
      
      width: 100%; 
      height: auto; 
      border-radius: 10px;
    }
  }

.btn {
  margin-top: -20px;
  background-color: #000728; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: -700px;
 
}

.btn:hover {
  background-color: #005bb5; 
  transform: scale(1.05); 
  color: #000728; 
}
}