.appointment-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.appointment-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000728;
}

.appointment-list {
  list-style-type: none;
  padding: 0;
}

.appointment-item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.appointment-item:last-child {
  border-bottom: none;
}

.appointment-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-details div {
  margin-right: 20px;
}

.cancel-appointment-btn {
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-appointment-btn:hover {
  background-color: #cc0000;
}

@media (max-width: 600px) {
  .appointment-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .appointment-details div {
    margin-bottom: 10px;
  }

  .cancel-appointment-btn {
    width: 100%;
    text-align: center;
  }
}
